@import "../../App.css";
.btn {
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  width: 9rem;
  height: 2.5rem;
  border-radius: 1.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}

.btn___border {
  color: var(--primaryColor);
  background-color: transparent;
  border: 1px solid var(--primaryColor);
}

.btn___priceTag {
  border: none;
  color: var(--bgColor);
  background-color: var(--primaryColor);
  box-shadow: 0px 10px 20px -3px rgba(245, 56, 56, 0.8);
  -webkit-box-shadow: 0px 10px 20px -3px rgba(245, 56, 56, 0.8);
  -moz-box-shadow: 0px 10px 20px -3px rgba(245, 56, 56, 0.8);
}

.btn___border:hover {
  color: var(--bgColor);
  background-color: var(--primaryColor);
  box-shadow: 0px 10px 25px -5px rgba(245, 56, 56, 0.15);
  -webkit-box-shadow: 0px 10px 25px -5px rgba(245, 56, 56, 0.15);
  -moz-box-shadow: 0px 10px 25px -5px rgba(245, 56, 56, 0.15);
}

.btn___normal {
  border: none;
  color: var(--titleColor);
  background-color: transparent;
}

.btn___header {
  border: none;
  width: 12rem;
  color: var(--bgColor);
  border-radius: 0.5rem;
  background-color: var(--primaryColor);
  box-shadow: 0px 10px 20px -3px rgba(245, 56, 56, 0.8);
  -webkit-box-shadow: 0px 10px 20px -3px rgba(245, 56, 56, 0.8);
  -moz-box-shadow: 0px 10px 20px -3px rgba(245, 56, 56, 0.8);
}

/* Tablets, iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}

/* Tablets, iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
}
