@import "../../App.css";

section.pricing {
  height: fit-content;
  width: 100%;
  text-align: center;
  margin-top: 4rem;
}

.pricing h2 {
  margin-bottom: 1rem;
}
.pricingSection {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
}
.pricingSection___card {
  padding: 3rem 2.5rem 2rem 2.5rem;
  text-align: center;
  border: 2px solid var(--paraColor);
  border-radius: 10px;
}

.pricingSection___card:nth-child(3) {
  border: 2px solid var(--primaryColor);
}

.pricingSection___card span {
  font-size: 1.5rem;
  color: var(--paraColor);
  opacity: 75%;
}

.pricingSection___card:nth-child(1) span {
  display: none;
}

.pricingSection___card--image {
  height: 10rem;
  width: auto;
  margin-bottom: 2rem;
}

.pricingSection___card--image img {
  height: 100%;
  width: auto;
}

.pricingSection___detail {
  margin-top: 2rem;
  height: 20rem;
}

.pricingSection___detail--points {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.pricingSection___detail--points img {
  margin-right: 1rem;
  width: 1.2rem;
}

.pricingSection___card h4 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1280px) {
  section.pricing {
    margin-top: 2rem;
  }

  .pricing h2 {
    margin-bottom: 1rem;
  }
  .pricingSection {
    margin-top: 2rem;
  }
  .pricingSection___card {
    padding: 1.5rem 1.2rem 1.5rem 1.2rem;
  }

  .pricingSection___card--image {
    margin-bottom: 1rem;
  }

  .pricingSection___detail {
    height: 15rem;
  }

  .pricingSection___detail--points {
    margin-bottom: 1rem;
  }

  .pricingSection___detail--points img {
    width: 1rem;
  }
}
@media screen and (max-width: 1050px) {
  .pricingSection___card span {
    font-size: 0.8rem;
  }

  .pricingSection___card--image {
    height: 5rem;
  }

  .pricingSection___detail {
    margin-top: 1.5rem;
    height: 14rem;
  }
}

@media screen and (max-width: 550px) {
  .pricingSection {
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1rem;
  }

  .pricingSection___card {
    margin-right: 1rem;
  }

  .pricingSection___card:last-child {
    margin-right: 0rem;
  }
  .pricingSection___card span {
    font-size: 0.8rem;
  }

  .pricingSection___card--image {
    height: 5rem;
    margin-bottom: 1rem;
  }

  .pricingSection___detail {
    height: 9rem;
  }

  .pricingSection___detail--points {
    margin-bottom: 0.5rem;
  }

  .pricingSection___detail--points img {
    width: 0.8rem;
  }

  .pricingSection___card h4 {
    margin-bottom: 0.8rem;
  }
}
