@import "../../App.css";

header {
  margin-top: 2rem;
  padding: 3rem 0rem;
  display: flex;
  height: 60vh;
  justify-content: space-between;
  align-items: center;
}

.header___title {
  margin-right: 2rem;
}

.header___title p {
  margin-top: 1.2rem;
  margin-bottom: 1.8rem;
}

header > .header___imgSection {
  height: 100%;
  width: auto;
}

.header___imgSection img {
  height: 100%;
  width: auto;
}
