@import "../../App.css";

.nav {
  padding: 2rem 0rem;
  position: relative;
}

.navbar {
  display: block;
}

.menubar {
  display: none;
}
.menubar___style {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menubar___image,
.menubar___image img {
  height: 2rem;
  width: auto;
}

.menubar--linkList {
  background-color: var(--bgColor) !important;
  height: 100vh;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 999;
}
.menubar--linkList ul {
  position: absolute;
  list-style: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menubar--linkList li p {
  transition: all 0.3s ease-in-out;
  margin-bottom: 18px;
}

.menubar___button Button {
  margin-bottom: 18px;
}
.nav___style {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav___image {
  height: 3rem;
}

.nav___image img {
  height: 100%;
  width: auto;
}

.nav___links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav___links li {
  list-style: none;
  margin-right: 1.2rem;
}

.nav___links li:last-child {
  margin-right: 0rem;
}
.nav___links p:hover {
  color: var(--titleColor);
}

.nav___button {
  display: flex;
  align-items: center;
}

.nav___button Button {
  margin-right: 0.8rem;
}

.nav___button Button:last-child {
  margin-right: 0rem;
}

@media screen and (max-width: 1280px) {
  .navbar {
    display: none;
  }

  .menubar {
    display: block;
  }
  .menubar--linkList li p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .menubar___image,
  .menubar___image img {
    height: 1.5rem;
  }
  .menubar--linkList li p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 550px) {
  .menubar___image,
  .menubar___image img {
    height: 1rem;
  }
}
