@import "../../App.css";

section.network {
  margin-top: 4rem;
  height: fit-content;
  width: 100%;
  text-align: center;
}

.network h2 {
  margin-bottom: 1rem;
}

.network___global--image {
  margin-top: 4rem;
  height: auto;
  width: 100%;
}

.network___global--image img {
  height: auto;
  width: 100%;
}

.network___companey--image {
  margin-top: 3rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.network___companey--image img {
  height: auto;
  width: 100%;
  margin-right: 1.5rem;
}

.network___companey--image img:last-child {
  margin-right: 0rem;
}

@media screen and (max-width: 1050px) {
  section.network {
    margin-top: 2rem;
  }

  .network___global--image {
    margin-top: 2rem;
  }

  .network___companey--image {
    margin-top: 1.5rem;
  }

  .network___companey--image img {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 550px) {
  section.network {
    margin-top: 2rem;
  }

  .network___global--image {
    margin-top: 2rem;
  }

  .network___companey--image {
    margin-top: 1.5rem;
    width: 100%;
    height: auto;
  }

  .network___companey--image img {
    margin-right: 1rem;
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .network___companey--image {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .network___companey--image > img {
    height: auto;
    width: 20%;
  }
}
