@import "../../App.css";

.features {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
  height: 60vh;
}

.features img {
    height: 100%;
    width: auto;
    margin-left: 1.8rem;
}

.features___deatil{

}