@import "../../App.css";

section.testimonials {
  margin-top: 4rem;
  height: fit-content;
  width: 100%;
  text-align: center;
  position: relative;
  padding-bottom: 4rem;
}

.testimonials h2 {
  margin-bottom: 1rem;
}

.testimonials___slider {
  margin-top: 4rem;
}

.testimonials___slider--card {
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid var(--paraColor);
  position: relative;
  margin-right: 1rem;
  height: 15vh;
  text-align: left;
}

/* .slick-slide {
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid var(--paraColor);
  position: relative;
  margin-right: 1rem;
  height: 18vh;
}
.slick-slide.slick-current {
  border: 1px solid var(--primaryColor);
  box-shadow: 1px 58px 44px -42px rgba(13, 16, 37, 0.27);
  -webkit-box-shadow: 1px 58px 44px -42px rgba(13, 16, 37, 0.27);
  -moz-box-shadow: 1px 58px 44px -42px rgba(13, 16, 37, 0.27);
} */

.testimonials___slider--card-bio {
  display: flex;
  align-items: center;
  height: 3rem;
}

.testimonials___slider--card-bio img {
  height: 100%;
  width: auto;
  margin-right: 1rem;
}

.testimonials___slider--card-rating {
  display: flex;
  align-items: center;
  position: absolute;
  right: 1.5rem;
  top: 2.5rem;
}

.testimonials___slider--card-rating img {
  width: 1rem;
  height: auto;
  margin-left: 0.5rem;
}

.testimonials___slider--card___coment {
  margin-top: 1rem;
}
.testimonials___slider--card___coment p {
  display: block;
}

.testimonials___slider--controler___btn {
  position: absolute;
  display: flex;
  list-style: none;
  right: 1rem;
  bottom: -1rem;
}

.testimonials___slider--controler___dots li {
  width: 1rem;
  height: 1rem;
  background-color: #dde0e4;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.testimonials___slider--controler___dots li:first-child {
  width: 3rem;
  border-radius: 20px;
  background-color: var(--primaryColor);
}

.testimonials___slider--controler___btn li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 50px;
  border: 2px solid var(--primaryColor);
}

.testimonials___slider--controler___btn li:last-child {
  margin-right: 0rem;
  background-color: var(--primaryColor);
  box-shadow: 1px 58px 44px -18px rgba(13, 16, 37, 0.27);
  -webkit-box-shadow: 1px 58px 44px -18x rgba(13, 16, 37, 0.27);
  -moz-box-shadow: 1px 58px 44px -18px rgba(13, 16, 37, 0.27);
}

.testimonials___slider--controler___btn li img {
  width: 2rem;
}

.dots {
  list-style-type: none;
  display: flex !important;
  position: absolute;
  left: 1rem;
  bottom: -4rem;
}

.dots button {
  font-size: 0;
  margin-right: 0.5rem;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  background-color: #dde0e4;
  border-radius: 50%;
}

.dots li.slick-active button {
  width: 3rem;
  border-radius: 20px;
  background-color: var(--primaryColor);
}

@media screen and (max-width: 600px) {
  section.testimonials {
    padding-bottom: 0rem;
  }
  .testimonials___slider--controler___btn {
    display: none;
  }
  .dots {
    margin-top: 1rem;
    list-style-type: none;
    display: flex !important;
    justify-content: center;
    position: static;
  }
}
